language: python

python:
  - "2.6"
  - "2.7"

# command to install dependencies
install:
  # Install basic dependencies required by the Avalon Music Server itself using
  # packages pinned to a particular version (as opposed to the packages in setup.py)
  - "pip install --allow-external argparse -r requirements2.txt"
  # Install unit test specific requirements. NOTE that not all of the packages
  # in this file are required for running on Travis, however, this requirement
  # file is shared with setup for local development and testing.
  - "pip install -r requirements-test2.txt"
  # Install the server itself, which should not trigger any more packages being
  # installed if everything above worked alright.
  - "pip install ."

# command to run tests.
script: py.test test
