# Our Travis CI config that delegates most of the logistics
# of running our unit tests for multiple interpreters to the
# tox tool.
language: python

matrix:
  include:
    - python: 2.6
      env: TOXENV=py26
    - python: 2.7
      env: TOXENV=py27
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: pypy
      env: TOXENV=pypy
  allow_failures:
    - python: pypy


# Only build master, don't want noise from experimental stuff
branches:
  only:
    - master

# command to install dependencies
install:
  # Just install tox here and let it manage all our dependencies and
  # environment set up (via tox.ini). Note that we override the default
  # list of environments for tox run in via the TOXENV variable above.
  - "pip install tox"

# command to run tests.
script: tox test
