body {
    background-color: #ccc;
}

.page-wrapper {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 1em;
    box-shadow: .3em .3em 1em #999;
    padding: 1em;
    margin-top: 2em;
}

h1, dt {
    /* color: #00ADEE; */
    color: #222;
}
.status.ready, .status.not-ready {
    display: none;
}

.ready .status.ready {
    display: block;
}

.not-ready .status.not-ready {
    display: block;
}
